<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create new Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>    
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header"><h1>Add a Room <br/>
		<small>Hostel <span th:text="${hotel.name}"></span></small>
		</h1><p></p></div>	
		<div th:include="rooms/form :: roomform(@{/rooms/})"></div>
    </div>
</body>
</html>

