<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Rooms available List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header">
			<h1>Available Rooms</h1>
		</div>				
		<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th><i class="glyphicon glyphicon-calendar"></i> Check-in</th>
				<th><i class="glyphicon glyphicon-calendar"></i> Check-out</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><i class="glyphicon glyphicon-time"></i>
					<span th:text="${#dates.day(booking.begin_date)}"></span> 
					<span th:text="${#dates.monthNameShort(booking.begin_date)}"></span>
					<span th:text="${#dates.year(booking.begin_date)}"></span>
				</td>
				<td><i class="glyphicon glyphicon-time"></i>
					<span th:text="${#dates.day(booking.end_date)}"></span> 
					<span th:text="${#dates.monthNameShort(booking.end_date)}"></span>
					<span th:text="${#dates.year(booking.end_date)}"></span>
				</td>
			</tr>
			<tr>
				<td colspan="2"><b><span th:text="${roomType.description}"></span></b></td>
			</tr>
			<tr><td><span th:text="${numberRooms}"></span></td></tr>
		</tbody>
		</table>
				
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Hotel</th>
					<th>Price (INR/month)</th>
					<th></th>
				</tr>
			</thead>
			<tr th:each="room : ${rooms}">
				<td><a th:href="@{|/hotels/${room.hotel.id}|}" th:text="${room.hotel.name}"></a></td>
				<td><span th:text="${room.price}"></span> x <span th:text="${numberRooms}"></span></td>
				<td><a th:text="Book" class="btn btn-default" th:href="@{|/bookings/new/${room.hotel.id}/|}"></a></td>
			</tr>
		</table>		
	</div>
</body>
</html>

