<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotel List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>

	<div th:include="fragments/header"></div>

	<div class="container">
		<div class="page-header">
			<h1>Hostel List</h1>
		</div>
		
		<div th:if="${#lists.isEmpty(hotels)}">
			<p><i>No hostels to show</i></p>
		</div>
		
		<div class="list-group" th:each="hotel : ${hotels}">
			<a class="list-group-item" th:if="${hotel.status}" th:text="${hotel.name}"
				th:href="@{|/hotels/${hotel.id}|}"></a>
		</div>
		
		<p sec:authorize="hasAnyRole('HOTEL_MANAGER')">
			<a class="btn btn-primary" href="/hotels/new">Add a Hostel</a>
		</p>
	</div>
</body>
</html>

